 /* Start off with reset on entire page// */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #ac8750;
    color: aliceblue;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

.container{
    width: 100%;
    height: 100%;
    /* CSS Smooth scroll  */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar{
/*we always want the navbar to be on top
 at all times! for smooth Scrolling to work*/
    position: fixed;
    top: 0;
    z-index: 1; /*on top of content*/
    display: flex;
    width:100%;
    height:60px;
    background: rgba(0,0,0,0.6);
}

/* Elements inside navbar */
.navbar ul{
    display: flex;
    list-style: none; /*removes bullets*/
    width: 100%;
    justify-content: center;
}
.navbar ul li{
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: beige;
}

.navbar ul li a:hover{
    color:#d9c3fc;
}

/* SECTION CSS */
section {
    display: flex;
    flex-direction: column; /* So that <h1> and <p> on top of each other */
    align-items: center;
    justify-content: center; /* Align Vertical and horizontal to center*/ 
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section h1 {
    font-size: 4rem;
    color: #000000;
}

section p {
    font-size: 1.5rem;
}

section#home{
    background: url('https://images.unsplash.com/photo-1633436245198-44bc17f86b89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80')no-repeat center center/cover;
   
}

section#portfolio{
    background: url('https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=404&q=80');
    opacity: 0.9;
}

section#contact {
    background: url('https://images.unsplash.com/photo-1488509082528-cefbba5ad692?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80') no-repeat center center/cover;;
    opacity: 0.9;
  }

.profile-card{
    position: relative;
    width: 350px;
    height: 200px;
    background-color: #dfb354;
    /* opacity: 0.2; */
    border-radius: 40px;
    box-shadow: 0 0 25px black;
    transition: .5s;
}
.profile-card:hover{
    height: 450px;
}

.imgbox{
    position: absolute;
    left: 50%;
    top:-50px;
    transform:  translateX(-50%);
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 70px;
    box-shadow: 0 15px 50px black;
    overflow: hidden;
    transition: .5s;
    opacity: .1;
}

.profile-card:hover .imgbox{
    width: 150px;
    height: 200px;
    opacity: 1;
    
}

.imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.profile-card .content .details{
    padding: 40px;
    text-align: center;
    transition: .9s;
    transform: translateY(180px);
}
.profile-card:hover .content .details{
    transform: translateY(0);
}

.profile-card .content .details h2{
    font-size: 1.65rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
.profile-card:hover .content .details h2{
    color: rgb(245, 223, 223);
}

.profile-card .content .details h2 span{
    font-size: .95rem;
    font-weight: 200px;
    opacity: .7;
}
.profile-card:hover .content .details h2 span{
    color: rgb(250, 62, 62);
}
.profile-card .content .details .data{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.profile-card .content .details .data h4{
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 500;
}
.profile-card .content .details .data h4 span{
    font-size: 0.9rem;
    font-weight: 400;
    opacity: .6;
}
.profile-card .content .details .btn{
    display: flex;
    justify-content: space-between;
}
.profile-card .content .details .btn button{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.15rem;
    font-weight: 500;
    background: #b5838d;
    color: aliceblue;
    cursor: pointer;
}
.profile-card .content .details .btn .msg{
    border: 1px solid #999;
    color: black;
    background-color:rgba(207, 199, 212,0.3);
}

.card{
    width: 250px;
    height: 250px;
    background-color: #000000;
}
#l{
    color: tomato;
}

/* Contact us */
.screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #d19a46;
    font-size: 56px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 50px;
    height: 4px;
    background: #ac8750;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 25px;
    color: rgb(236, 229, 229);
  }
  
  .app-contact p{
    font-size: medium;
  }

  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 25px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: rgb(83, 82, 82);
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: solid 1px;
    color: #d1b5c0;
    font-size: 20px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #918086;
  }
